spring:

  application:
    name: Api-Gateway
  cloud:
    gateway:
      routes:

        # SERVICE ROUTES  

        - id: security-service
          uri: lb://SECURITY
          predicates:
            - Path=/api/v1/security/**
          filters:
            - AuthenticationFilter

        - id: notification-service
          uri: lb://NOTIFICATIONS
          predicates:
            - Path=/api/v1/notifications/**
          filters:
            - AuthenticationFilter

        - id: account-service
          uri: lb://ACCOUNTS
          predicates:
            - Path=/api/v1/accounts/**
          filters:
            - AuthenticationFilter

        - id: transaction-service
          uri: lb://TRANSACTIONS
          predicates:
            - Path=/api/v1/transactions/**
          filters:
            - AuthenticationFilter

        # SWAGGER ROUTES

        - id: security-swagger
          uri: lb://SECURITY
          predicates:
            - Path=/security/api-docs
          filters:
            - RewritePath=/security/api-docs, /api-docs

        - id: account-swagger
          uri: lb://ACCOUNTS
          predicates:
            - Path=/accounts/api-docs
          filters:
            - RewritePath=/accounts/api-docs, /api-docs

        - id: transaction-swagger
          uri: lb://TRANSACTIONS
          predicates:
            - Path=/transactions/api-docs
          filters:
            - RewritePath=/transactions/api-docs, /api-docs

server:
  servlet:
    context-path:
  port: 8765
jwt:
  secret:${JWT_SECRET}
secret:
  key:${SECRET_KEY}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Security Service
        url: /security/api-docs
      - name: Account Service
        url: /accounts/api-docs
      - name: Transaction Service
        url: /transactions/api-docs


eureka:
  instance:
    hostname: ${EUREKA_HOST}
    prefer-ip-address: ${ENABLE_IP}
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}